<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= stylesheet_link_tag "style.css" %>
    <title>Home</title>
</head>
<header>
    <%= link_to 'About', about_path %>
</header>
<body>
    <h1>Welcome to my homepage!</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum, voluptatibus nisi vero explicabo minima nesciunt. Commodi porro iste neque quae dolores. Dolorum aperiam officia esse, ad, doloremque, enim sunt minima nam explicabo nesciunt dolore? Dolor, eaque. Deleniti aut, explicabo quo animi labore repudiandae ad dolorem illo veritatis? Ab, repudiandae ullam numquam consequatur molestiae mollitia modi voluptate dolorum dolor esse, vitae praesentium inventore porro eum! Non iusto voluptatum omnis numquam a alias perspiciatis suscipit vel provident tempora atque tempore voluptatem veritatis, aperiam error veniam ullam consectetur modi eaque magni voluptatibus minima impedit corrupti. Neque voluptatum quibusdam vero sint id soluta magnam.</p>
</body>
<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, sequi.</p>
</footer>
</html>